body{
    font-family: 'Oswald', sans-serif;
}
.logo-img {
    width: 120px;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Oswald', sans-serif;
    background-color: #fffbe3;
}

/*--------------------------------------------- HEADER -------------------------------------------------*/

header {
    background-color: #36383a;
    text-align: center;
    padding: 10px;
}
header h1{
    color: white;
}
.header-title {
    display: flex;
    align-items: center;
}
.header-title .logo-img {
    margin: 1px 20px;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #36383a;
}
nav h1 {
    font-size: 45px;
}

.social img{
    width: 40px;
}
.social img:hover{
    padding: 2px;
}
.social {
    display: flex;
}

.ham {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;

}
.ham span{
    display: block;
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 25px;
    margin: 10px auto;
    border-radius: 2px;
}
.menu-link {
    display: flex;
    padding: 0;
}
.menu-link li {
    padding: 0 40px;
    list-style-type: none;
}
.menu-link li a {
    text-decoration: none;
    font-size: 1.8rem;
    transition: 0.3s;
    color: white;
    font-weight: 600;
}
.menu-link li a:hover {
    color: #338450;
    font-size: 2rem;
}
/*--------------------------------------------- HOME  ------------------------------------------------------*/
/*----------------------------------------- CURRENT DATE ----------------------------------------------------*/
aside {
    display: block;
    width: 100%;
    background-color: #ffffff;
	margin: 1px;
	padding: 0.75rem;
    color: #338450;
    font-weight: 600;
    font-size: 20px;  
    box-shadow: rgb(250, 250, 252) 0px 50px 100px -20px, rgb(255, 254, 254) 0px 30px 60px -30px, rgba(255, 255, 255, 0.952) 0px -2px 6px 0px inset;
    border-radius: 5px;
}

.date {
    display: block;
    align-content: center;
    text-align: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/*------------------------------------------------- MAIN ------------------------------------------------------*/

.index-main{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    font-size: 20px;
    margin: 20px auto;
    margin-bottom: 17rem;
    gap: 10px;
    width: 90%;
    height: 900px;

}
.index-main .div-1,.div-2,.div-3,.div-4,.div-5,.div-6{
    background-color: #99FFBB;
    text-align: center;
    border: 1.5px solid #666464;
    border-radius: 5px 5px 5px 5px;
}

/*--------------------------------------------  DIV 1 ----------------------------------------------------*/

.div-1 {
    grid-column: 1/2;
    grid-row: 1/2;      
}
.div-1 h3{
    margin-top: 5px;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c5c3c4 0px 0px 20px, #104d30 0px 0px 30px, #104d30 0px 0px 40px, #104d30 0px 0px 50px, #104d30 0px 0px 75px, -40px -40px 0px rgba(255,255,255,0);
}
.div-1 p{
    padding: 20px;
}
.div-1 a{
    color: rgba(28, 28, 228, 0.781);
    transition: 0.5s;
}
.div-1 a:hover {
    color: rgb(95, 94, 94);
    text-decoration: underline;
}

/*--------------------------------------------  DIV 2 ----------------------------------------------------*/

.div-2 {
    grid-column: 2/3;
    grid-row: 1/3;
}
.div-2 picture{
    width: 100%;
}
.div-2 picture img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.div-2 h2, .div-2 p {
    position: absolute;
    top: 300px;
    left: 500px;
}
#invitation-button{
    position: absolute;
    top: 500px;
    left: 550px;
}
.div-2  h2{
    font-size: 32px;
    text-align: right;
    margin-right: 35px;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c5c3c4 0px 0px 20px, #104d30 0px 0px 30px, #104d30 0px 0px 40px, #104d30 0px 0px 50px, #104d30 0px 0px 75px, -40px -40px 0px rgba(255,255,255,0);
}
.div-2 button{
    border-radius: 5px;
    color: #338450;
    font-weight:bolder;
    font-size: 20px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0,0,0,0);
    width: 200px;
    height: 40px;
    border: 5px groove #338450;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    top: 10px;
    left: 150px;
    cursor: pointer;
}
.div-2 button:hover{
    width: 210px;
    height: 50px;
    padding: 5px;
}
.div-2 p{
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c5c3c4 0px 0px 20px, #104d30 0px 0px 30px, #104d30 0px 0px 40px, #104d30 0px 0px 50px, #104d30 0px 0px 75px, -40px -40px 0px rgba(255,255,255,0);
}

/*--------------------------------------------  DIV 3 ----------------------------------------------------*/

.div-3 {
    grid-column: 3/4;
    grid-row: 1/4;
    padding: 15px;
}
.div-3 div{
    display:block;
    height: 33%;
}
.div-3 h3{
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c5c3c4 0px 0px 20px, #104d30 0px 0px 30px, #104d30 0px 0px 40px, #104d30 0px 0px 50px, #104d30 0px 0px 75px, -40px -40px 0px rgba(255,255,255,0);
}
.div-3 p {
    font-size: 12px;
}
.div-3 h4{
    margin-top: -10px;
}
.e-mail {
    margin-top: 5px;
    margin-bottom: -12px;
}
.div-3-3 h4{
    margin-bottom: -10px;
}
.div-3-2 h4{
    margin-bottom: -10px;
}
.div-3-3 img{
    height: 70px;
}
.div-3-2 img{
    height: 70px;
    margin-top: -20px;
} 
.div-3-2 h3{
    margin-top: 5px;
}
.div-3-1 h4 {
    margin-top: 10px;
}

/*--------------------------------------------  DIV 4 ----------------------------------------------------*/

.div-4 {
    grid-column: 1/2;
    grid-row: 2/3;
}
.div-4 .subtitle{
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c5c3c4 0px 0px 20px, #104d30 0px 0px 30px, #104d30 0px 0px 40px, #104d30 0px 0px 50px, #104d30 0px 0px 75px, -40px -40px 0px rgba(255,255,255,0);
    margin-top: 10px;
}
.div-4 h2{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 40px;
}
.div-4 h3{
    margin-top: 8px;
    font-size: 30px;
}
.div-4 hr{
    margin: 1px 20px;
}
.div-4 p{
    margin: 5px 0;
    font-size: 20px;
}
.partly{
    margin-bottom: 2px;
    margin-top: 2px;
}
.div-4-1 {
    margin-top: -20px;
    display: flex;
}
.div-4-1 p {
    font-size: 35px;
    margin-left: 40px;
}
.div-4-1 img{
    margin-left: 25%;
    width: 90px;
}

/*--------------------------------------------  DIV 5 ----------------------------------------------------*/
.div-5 {
    padding: 10px;
}
.div-5 button{
    border-radius: 5px;
    color: white;
    background-color: #2d7445;
    font-weight:500;
    font-size: 20px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0,0,0,0);
    width: 200px;
    height: 40px;
    border: 5px groove #338450;
    border-radius: 10px 10px 10px 10px;
    margin-top: 15px;
    cursor: pointer;
}
.div-5 button:hover{
    width: 205px;
    height: 45px;
    padding: 5px;
}

.div-6{
    padding: 10px;
}
.div-6 h3{
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c5c3c4 0px 0px 20px, #104d30 0px 0px 30px, #104d30 0px 0px 40px, #104d30 0px 0px 50px, #104d30 0px 0px 75px, -40px -40px 0px rgba(255,255,255,0);
}


/*--------------------------------------------- FOOTER -----------------------------------------------------*/

footer {
    background-color: #36383a;
    color: white;
    width: 100%;
    padding: 20px;
}
footer img {
    width: 120px;
}
.contact a{
    color: white;
}
.contact a:hover {
    color: #338450;
    font-size: 2.2rem;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}
.copyright {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: rgb(250, 250, 252) 0px 50px 100px -20px, rgb(255, 254, 254) 0px 30px 60px -30px, rgba(255, 255, 255, 0.952) 0px -2px 6px 0px inset;
    color: #338450;
    border-radius: 5px;
    margin: 10px 0;
}
.copyright p {
    margin: 0px 30px;
}
.copyright div{
    display: flex;
    justify-content: center;
}


/*---------------------------------------- DISCOVER -------------------------------------------------------*/

.discover {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    width: 95%;
    margin-left: 2%;

}
picture img[data-src] {
    filter: blur(0.5em);
}
  
picture img {
    width: 500px;
    margin-bottom: 10px;
    filter: blur(0em);
    transition: 2s;
}
picture:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s;
    padding: 8px;
}
.visits h2{
    font-size: 30px;
}
.visits h3 {
    font-size: 20px;
}
.visits {
    text-align: center;
}
.discover p{
    font-size: 15px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}

/*----------- JOIN ------------*/
.join-title{
    font-size: 4rem;
    text-align: center;
}
.join-form {
    background-color: #36383a;
    padding: 1rem 2%;
    margin: 2rem 0.5rem;
    width: 80%;
    color: white;
    border-radius: 5px;
    border: 10px solid;
}
.join-form fieldset {
    margin-bottom: 1.5rem;

}
.join-form legend{
    margin: 0 1rem;
    padding: 0 1rem;
    font-size: 2.5rem;
    color: #338450;
}
.join-form label {
    display: block;
    padding-top: 1rem;
    font-size: 1.5rem;
}
.join-form input, .join-form select, .join-form textarea {
    display: block;
    font-size: 1.5rem;
    border: solid 1.8px #338450;
    border-radius: 5px;
    padding: .6rem;
    width: 70%;
}
.join-form .submit {
    font-size: 2rem;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #338450;
    background-color: #666464;
}
.join-form .submit:hover {
    color: white;
    background-color: #2b6d42;
    border: solid 2px white;
}

/* ---- Thank for join ---- */

.thank {
    width: 60%;
    background-color: #36383a;
    color: #338450;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    padding: 2rem 2rem;
}
.thank h1{
    font-size: 4rem;
}
.thank h2{
    font-size: 3rem;
}

/* --------------- Directory ----------------- */


.directory-page img{
    width: 200px;
}
.directory-page {
    width: 95%;
    margin: auto;
    text-align: center;
}
.directory-page h1{
    font-size: 40px;
}
.menu button {
    font-size: 2rem;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #1cff6b;
    background-color: #666464;
    border-radius: 5px;
}
.menu button:hover {
    color: white;
    background-color: #2b6d42;
    border: solid 2px black;
}
.cardsList {
	display: flex;
	flex-direction: column;
}

.cardsList section {
	display: flex;
	align-items: center;
    margin: 1.5rem;
    background-color: white;
}
.cardsList section{
    flex-direction: row;
    justify-content: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 18px;
}
.cardsList section > * {
	margin: 1rem;
	text-align: left;
}
.cardsList section h2{
    font-size: 2.5rem;
}
.cardsList section p {
    font-size: 1.5rem;
}
.cardsList section a{
    font-size: 1.5rem;
    text-decoration:underline;
    color: #437453;
}
.cardsGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
    gap: 7.1rem;
}
.cardsGrid section {
	flex-direction: column;
	text-align: center;
    height: 300px;
    width: 280px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 18px;
}

.cardsGrid section > * {
	margin: 0 1rem;
}




