body{
    font-family: 'Oswald', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Oswald', sans-serif;
    background-color: #fffbe3;
}

/*--------------------------------------------- HEADER -------------------------------------------------*/

header {
    background-color: #36383a;
    text-align: center;
    padding: 10px;
}
header h1{
    color: white;
}
.header-title {
    display: flex;
    align-items: center;
}
.header-title .logo-img {
    margin: 1px 20px;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #36383a;
}
nav h1 {
    font-size: 45px;
}

.social img:hover{
    padding: 2px;
}
.social {
    display: flex;
}

.ham {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;

}
.ham span{
    display: block;
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 25px;
    margin: 10px auto;
    border-radius: 2px;
}
.menu-link {
    display: flex;
    padding: 0;
}
.menu-link li {
    padding: 0 40px;
    list-style-type: none;
}
.menu-link li a {
    text-decoration: none;
    font-size: 1.8rem;
    transition: 0.3s;
    color: white;
    font-weight: 600;
}
.menu-link li a:hover {
    color: #338450;
    padding: .5rem;
    border: solid 1px #338450;
}
/*--------------------------------------------- HOME  ------------------------------------------------------*/
/*----------------------------------------- CURRENT DATE ----------------------------------------------------*/
aside {
    display: block;
    width: 100%;
    background-color: #ffffff;
	margin: 1px;
	padding: 0.75rem;
    color: #338450;
    font-weight: 600;
    font-size: 20px;  
    box-shadow: rgb(250, 250, 252) 0px 50px 100px -20px, rgb(255, 254, 254) 0px 30px 60px -30px, rgba(255, 255, 255, 0.952) 0px -2px 6px 0px inset;
    border-radius: 5px;
}

.date {
    display: block;
    align-content: center;
    text-align: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/*------------------------------------------------- MAIN ------------------------------------------------------*/

.index-main{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    font-size: 1.5rem;
    margin: 20px auto;
    margin-bottom: 17rem;
    gap: 10px;
    width: 90%;
    height: fit-content;

}
.index-main div{
    background-color: #99FFBB;
    text-align: center;
    border: 1.5px solid #666464;
    border-radius: 5px 5px 5px 5px;
}
div h3{
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c5c3c4 0px 0px 20px, #104d30 0px 0px 30px, #104d30 0px 0px 40px, #104d30 0px 0px 50px, #104d30 0px 0px 75px, -40px -40px 0px rgba(255,255,255,0);
    font-size: 2.5rem;
}
div p {
    margin-bottom: -5px;

}
/*--------------------------------------------  TEETH ----------------------------------------------------*/
.teeth {
    grid-column: 1/2;
    grid-row: 1/2;      
}
.teeth h3{
    margin-top: 5px;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c5c3c4 0px 0px 20px, #104d30 0px 0px 30px, #104d30 0px 0px 40px, #104d30 0px 0px 50px, #104d30 0px 0px 75px, -40px -40px 0px rgba(255,255,255,0);
}

/*--------------------------------------------  HERO ----------------------------------------------------*/

.hero {
    grid-column: 2/3;
    grid-row: 1/3;
}
.hero picture{
    width: 100%;
}
.hero picture img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.hero h2, .hero p {
    position: relative;
    top: -100%;
    left: -20%;
}
#invitation-button{
    position: relative;
    top: -100%;
    left: -1%;
}
.hero  h2{
    font-size: 32px;
    text-align: right;
    margin-right: 35px;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c5c3c4 0px 0px 20px, #104d30 0px 0px 30px, #104d30 0px 0px 40px, #104d30 0px 0px 50px, #104d30 0px 0px 75px, -40px -40px 0px rgba(255,255,255,0);
}
.hero a{
    border-radius: 5px;
    color: #338450;
    font-weight:bolder;
    font-size: 20px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0,0,0,0);
    width: 200px;
    height: 40px;
    border: 5px groove #338450;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    top: 10px;
    left: 150px;
    cursor: pointer;
}
.hero a:hover{
    padding: 5px;
    color: white;
    background-color: #338450;
    border-color: white;
}
.hero p{
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c5c3c4 0px 0px 20px, #104d30 0px 0px 30px, #104d30 0px 0px 40px, #104d30 0px 0px 50px, #104d30 0px 0px 75px, -40px -40px 0px rgba(255,255,255,0);
}
/*--------------------------------------------  WEATHER ----------------------------------------------------*/
.weather {
    font-size: 20px;
}
#weather-icon{
    width: 100px;
}
.weather-cap {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 1.8rem;
}
.weather-cap p{
    margin-left: 5rem;
    font-size: 3rem;
}

/*--------------------------------------------  INVITATION DIV ----------------------------------------------------*/
.invitation-div a{
    border-radius: 5px;
    color: white;
    background-color: #2d7445;
    font-weight:500;
    font-size: 20px;
    padding: 5px 90px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0,0,0,0);
    border: 5px groove #338450;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}
.invitation-div a:hover{
    color: #2d7445;
    background-color: white;
}
.invitation-div p{
    font-size: 2rem;
    margin-top: 3rem;
}
.invitation-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem; 
}
/*--------------------------------------------- FOOTER -----------------------------------------------------*/

footer {
    background-color: #36383a;
    color: white;
    width: 100%;
    padding: 20px;
}
.contact a{
    color: white;
}
.contact a:hover {
    color: #338450;
    font-size: 2.2rem;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}
.copyright {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: rgb(250, 250, 252) 0px 50px 100px -20px, rgb(255, 254, 254) 0px 30px 60px -30px, rgba(255, 255, 255, 0.952) 0px -2px 6px 0px inset;
    color: #338450;
    border-radius: 5px;
    margin: 10px 0;
}
.copyright p {
    margin: 0px 30px;
}
.copyright div{
    display: flex;
    justify-content: center;
}


/*---------------------------------------- DISCOVER -------------------------------------------------------*/

.discover {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    width: 95%;
    margin-left: 2%;

}
.discover picture img[data-src] {
    filter: blur(0.5em);
}
  
.discover picture img {
    width: 500px;
    margin-bottom: 10px;
    filter: blur(0em);
    transition: 2s;
}
.discover picture:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s;
    padding: 8px;
}
.visits h2{
    font-size: 30px;
}
.visits h3 {
    font-size: 20px;
}
.visits {
    text-align: center;
}
.discover p{
    font-size: 15px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}

/*----------- JOIN ------------*/
.join-title{
    font-size: 4rem;
    text-align: center;
}
.join-form {
    background-color: #36383a;
    padding: 1rem 2%;
    margin: 2rem 0.5rem;
    width: 80%;
    color: white;
    border-radius: 5px;
    border: 10px solid;
}
.join-form fieldset {
    margin-bottom: 1.5rem;

}
.join-form legend{
    margin: 0 1rem;
    padding: 0 1rem;
    font-size: 2.5rem;
    color: #338450;
}
.join-form label {
    display: block;
    padding-top: 1rem;
    font-size: 1.5rem;
}
.join-form input, .join-form select, .join-form textarea {
    display: block;
    font-size: 1.5rem;
    border: solid 1.8px #338450;
    border-radius: 5px;
    padding: .6rem;
    width: 70%;
}
.join-form .submit {
    font-size: 2rem;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #338450;
    background-color: #666464;
}
.join-form .submit:hover {
    color: white;
    background-color: #2b6d42;
    border: solid 2px white;
}

/* ---- Thank for join ---- */

.thank {
    width: 60%;
    background-color: #36383a;
    color: #338450;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    padding: 2rem 2rem;
}
.thank h1{
    font-size: 4rem;
}
.thank h2{
    font-size: 3rem;
}

/* --------------- Directory ----------------- */


.directory-page img{
    width: 200px;
}
.directory-page {
    width: 95%;
    margin: auto;
    text-align: center;
}
.directory-page h1{
    font-size: 40px;
}
.menu button {
    font-size: 2rem;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #1cff6b;
    background-color: #666464;
    border-radius: 5px;
}
.menu button:hover {
    color: white;
    background-color: #2b6d42;
    border: solid 2px black;
}
.cardsList {
	display: flex;
	flex-direction: column;
}

.cardsList section {
	display: flex;
	align-items: center;
    margin: 1.5rem;
    background-color: white;
}
.cardsList section{
    flex-direction: row;
    justify-content: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 18px;
}
.cardsList section > * {
	margin: 1rem;
	text-align: left;
}
.cardsList section h2{
    font-size: 2.5rem;
}
.cardsList section p {
    font-size: 1.5rem;
}
.cardsList section a{
    font-size: 1.5rem;
    text-decoration:underline;
    color: #437453;
}
.cardsGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
    gap: 7.1rem;
}
.cardsGrid section {
	flex-direction: column;
	text-align: center;
    height: 300px;
    width: 280px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 18px;
}

.cardsGrid section > * {
	margin: 0 1rem;
}




