/*------------------------------------ RESPONSIVE - TABLET ------------------------------------------------*/

@media (min-width:768px) and (max-width:1024px) {

    .logo-img {
        padding-left: 25px;
    }
    .ham {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        transform: 0.2s 0.1s;
    }
    nav {
        display: block;
        width: 100%;
    }
    .header-title {
        display: flex;
        align-items: center;
        font-size: 30px;
    }
    .header-title .logo-img {
        margin: 1px 20px;
    }

    .menu-link {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
    }
    .menu-link li {
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    .menu-link li a {
        font-size: 50px;
        font-weight: 600;
    }

    .index-main{
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 20px;
        margin: 20px auto;
        gap: 10px;
        width: 90%;
    
    }

    .hero {
        grid-column: 1/3;
    }
    .teeth {
        display: none;
    }
    #invitation-button{
        position: relative;
        top: -100%;
        left: -1%;
    }

    footer {
        background-color: #36383a;
        width: 100%;
        margin-top: 420px;
        
    }

    .copyright {
        display: block;
    }
/* -------------------- DISCOVER --------------------- */

    .discover {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        align-items: center;
    }
    .visits h2{
        font-size: 25px;
    }
    .visits h3 {
        font-size: 15px;
    }
    .visits {
        text-align: center;
    }
    

}

@keyframes showMenu {
    from {opacity: 0;}
    to {opacity: 1;}
}

.menu-link.activate {
    display: flex;
    animation: showMenu 350ms ease-in-out both;
}

