@media only screen and (min-width: 64rem) {

/* --- NAVEGATION --- */
    nav ul {
        display: flex;
        width: 50%;
    }
    header ul li{
        margin: 0 auto;
        font-size: 1.5rem;
    }
    .b-nav {
        display: flex;
        width: 70%;
        margin: auto;
    }
    .search {
        margin-left: 60%;
        margin-top: 2.5rem;
    }
    .search input{
        border-radius: 10px;
        border: 1px solid #009FB7;
        font-size: 1.2rem;
    }



}