@media only screen and (min-width: 35rem) {
/* --- BODY --- */
    p {
        font-size: 1.1rem;
    }

/* --- NAVEGATION ---     */
    nav button {
        display: none;
    }
    nav ul {
        display: flex;
        width: 80%;
    }
    nav ul li a {
        border: none;
    }
    header ul li{
        margin: 0 auto;
        font-size: 1.5rem;
    }
    .b-nav {
        display: flex;
        width: 70%;
        margin: auto;
    }
    .search {
        margin-left: 20%;
        margin-top: 2.5rem;
    }
    .search input{
        border-radius: 10px;
        border: 1px solid #009FB7;
        font-size: 1.2rem;
    }

/* --- main --- */

    /* --- carlsbad --- */
    .carlsbad {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        text-align: left;
        gap: 1.5rem;
    }
    .carlsbad picture{
        float: right;
    }
    .call {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
/* --- FOOTER --- */
    footer{
        display: block;
    }
    .s-footer div{
        display: flex;
        margin: auto;
        column-gap: 2rem;
        align-items: center;
    }
    .copyright div{
        column-gap: 1.5rem;
    }

}