@media only screen and (min-width: 35rem) {
/* --- BODY --- */
    p {
        font-size: 1.1rem;
    }
    .copyright div{
        font-size: 1.1rem;
    }

/* --- NAVEGATION ---     */
    nav button {
        display: none;
    }
    nav ul {
        display: flex;
        width: 80%;
    }
    nav ul li a {
        border: none;
    }
    header ul li{
        margin: 0 auto;
        font-size: 1.5rem;
    }
    .b-nav {
        display: flex;
        width: 70%;
        margin: auto;
    }
    .search {
        margin-left: 20%;
        margin-top: 2.5rem;
    }
    .search input{
        border-radius: 10px;
        border: 1px solid #009FB7;
        font-size: 1.2rem;
    }

/* --- main --- */
    /* --- GALERY --- */
    .galery img{
        width: 100%;
    }

    /* --- carlsbad --- */
    .carlsbad {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        text-align: left;
        gap: 1.5rem;
    }
    .carlsbad img{
        width: 25rem;
    }
    .call {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .call img{
        width: 25rem;
    }
    .call-img2{
        display: none;
    }
    .call-text h2{
        font-size: 3rem;
        font-weight: 600;
    }
/* --- FOOTER --- */
    footer{
        display: block;
    }
    .s-footer div{
        display: flex;
        margin: auto;
        column-gap: 2rem;
        align-items: center;
    }
    .copyright div{
        column-gap: 1.5rem;
    }
/*____________________________________________________________  */
/*____________________________________________________________  */
/*____________________________________________________________  */
    .mix-you{
        font-size: 2.5rem;
        text-align: center;
        text-decoration: underline;
    }
    .quantity{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .price {
        display: flex;
        margin: auto;
    }
    .price ul li{
        font-weight: 600;
        margin: 1rem 4rem;
    }
    .form-img img{
        width: 30rem;
    }
    .form-img{
        align-items: center;
        padding: 1rem 8rem;
        margin: auto;
    }
}