body{
    background-color: #009FB7;
    font-family: 'Dosis', sans-serif;
    width: 95%;
    margin: auto;
}
h1, h2{
    font-family: 'Oswald', sans-serif;
}
.logo-img{
    border-radius: 5px;
    border: 2px solid #009FB7;
    width: 120px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
main {
    padding: .5rem;
}
picture img[data-src] {
    filter: blur(0.5em);
    transition: .5s;
}
picture img {
    filter: blur(0em);
    transition: .5s;
}
.invitation a, .call-text a {
    text-decoration: none;
    color: #cc1a4c;
    padding: 1rem;
    border: solid .2px #cc1a4c;

}
a:hover{
    color: #cc1a4c;
    background-color: white;
    cursor: pointer;
    text-decoration: underline;
    border: solid .2px #cc1a4c;
}
nav a{
    width: 8%;
}


/*-------------------------------------------------------------------------------------
/* --- NAVEGATION --- */
header {
    background-color: #cc1a4c;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
header hr{
    width: 100%;
}
nav button{
    margin: .2rem 2vw;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}
nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}
nav ul li a:hover {
    color: #009FB7;
}
nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

.search input{
    border-radius: 10px;
    border: 2px solid #009FB7;
    font-size: 1rem;
}
.b-nav {
    display: flex;
}
.search{
    margin: auto;
}
.b-nav img{
    margin-left: 1rem;
    margin-top: 1rem;
}
#hamburgerBtn {
    border-radius: 4px;
    border: .1px solid black;
    background-color: #d3d3d6;
}

/* --- BANNER --- */

.banner img{
    border-radius: 5px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/* --- INVITATION --- */
.invitation {
    display: block;
    text-align: center;
    padding: 1.5rem .2rem;
    margin: auto;
    width: 70%;
    border-radius: 5px;
    background-color: #02aac4;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
hr{
    width: 50%; 
    margin-top: 5%;
}
/* --- OUR CITY --- */
.carlsbad {
    width: 95%;
    margin: auto;
    text-align: center;
}
.carlsbad img{
    border-radius: 0 25px 0 25px;
    width: 100%;
}
.carlsbad img:hover{
    transition:none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* --- GALERY --- */
.galery div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 1rem;
}
.galery h2{
    text-align: center;
    margin-top: 2px;
}
.galery div img{
    width: 100%;
}
.galery div img:hover{
    border: solid 1px #009FB7;
    border-radius: 5px;
    transition: 1s;

}
.galery picture{
    margin: auto;
}
.galery{
    background-color: #cc1a4c;
    padding: 2.5rem .1rem;
    border-radius: 25px 0 25px 0;
    border: double white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/* --- CALL TO ACTION --- */
.call {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
}
.call img{
    border-radius: 0 25px 0 25px;
    width: 100%;
}
.call img:hover{
    transition:none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* --- FOOTER --- */
footer{
    display: block;
    padding: 1rem;
    background-color: #cc1a4c;
    color: #d3d3d6;
}
footer hr{
    width: 100%;
}
.s-footer{
    display: flex;
    gap: 1rem;
}
.s-footer img{
    padding: 2px;
    width: 110px;
}
.contact{
    display: flex;
    gap: 1rem;
}
.social{
    display: flex;
    flex-direction: column;
    margin: auto;
    row-gap: 1rem;
}
.copyright{
    display: flex;
    padding: 1rem;
}
.copyright div{
    display: flex;
    margin: auto;
    column-gap: 1rem;
}